{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<br>
<br>
<div class="container mx-auto px-6">
    <h4 class="text-center text-2xl font-bold text-black mb-6 hover:scale-105">DONOR DETAILS</h4>

    <div class="overflow-x-auto shadow-lg rounded-lg">
        <table class="min-w-full border border-gray-300 rounded-lg bg-white">
            <!-- Table Head -->
            <thead class="bg-black text-white">
                <tr>
                    <th scope="col" class="px-4 py-3 text-left hover-handwriting">Name</th>
                    <th scope="col" class="px-4 py-3 text-left hover-handwriting">Profile</th>
                    <th scope="col" class="px-4 py-3 text-left hover-handwriting">Blood Group</th>
                    <th scope="col" class="px-4 py-3 text-left hover-handwriting">Address</th>
                    <th scope="col" class="px-4 py-3 text-left hover-handwriting">Mobile</th>
                    <th class="px-4 py-3 text-right hover-handwriting">Action</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                {% for t in donors %}
                <tr class="hover:bg-gray-100 border-b">
                    <td class="px-4 py-3"> {{t.get_name}} </td>
                    <td class="px-4 py-3">
                        <img src="{% static t.profile_pic.url %}" alt="Profile Pic" class="h-10 w-10 rounded-full object-cover" />
                    </td>
                    <td class="px-4 py-3">{{t.bloodgroup}}</td>
                    <td class="px-4 py-3">{{t.address}}</td>
                    <td class="px-4 py-3">{{t.mobile}}</td>

                    <td class="px-4 py-3 text-right space-x-2">
                        <a href="{% url 'update-donor' t.id %}"
                           class="inline-block bg-black hover:bg-gray-100 text-white text-sm font-semibold px-4 py-2 rounded-full">
                            EDIT
                        </a>
                        <a href="{% url 'delete-donor' t.id %}"
                           class="inline-block bg-red-600 hover:bg-gray-100 text-white text-sm font-semibold px-4 py-2 rounded-full">
                            DELETE
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
