<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="./static/css/output.css">
    <link rel="stylesheet" href="./static/css/manual.css">
    <link rel="icon" href="./static/image/favicon.ico" />
    
</head>
<body>
    <nav class="navbar bg-black fixed-top bg-danger shadow flex justify-between items-center px-12 py-3">
        <!-- Left side: Brand -->
        <a class="flex hover:scale-105 hover-handwriting items-center space-x-2 text-white font-bold text-lg" href="/">
            <span>Blood Bank Management System</span>
        </a>

        <!-- Right side: Logout -->
        <ul class="flex items-center space-x-6">
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-link" style="color: white; text-decoration: none;">
                        Logout &nbsp; <i class="fas fa-sign-out-alt"></i>
                    </button>
                </form>
            </li>

        </ul>
    </nav>

    <!-- Layout -->
    <div class="wrapper flex">
        <!-- Sidebar -->
        <div class="sidebar bg-black border-r border-gray-300 shadow-md h-auto p-4">
            <ul class="space-y-12">
                <li>
                    <a class="flex hover-handwriting items-center text-white hover:text-red-600 font-semibold" href="/" style="text-decoration:none;">
                        <i class="fas fa-home mr-2"></i> Home
                    </a>
                </li>
                <li>
                    <a class="flex hover-handwriting items-center text-white hover:text-red-600 font-semibold" href="/admin-donor" style="text-decoration:none;">
                        <i class="fas fa-user mr-2"></i> Donor
                    </a>
                </li>
                <li>
                    <a class="flex hover-handwriting items-center text-white hover:text-red-600 font-semibold" href="/admin-patient" style="text-decoration:none;">
                        <i class="fas fa-user-injured mr-2"></i> Patient
                    </a>
                </li>
                <li>
                    <a class="flex hover-handwriting items-center text-white hover:text-red-600 font-semibold" href="/admin-donation" style="text-decoration:none;">
                        <i class="fas fa-hand-holding-medical mr-2"></i> Donations
                    </a>
                </li>
                <li>
                    <a class="flex hover-handwriting items-center text-white hover:text-red-600 font-semibold" href="/admin-request" style="text-decoration:none;">
                        <i class="fas fa-sync-alt mr-2"></i> Blood Requests
                    </a>
                </li>
                <li>
                    <a class="flex hover-handwriting items-center text-white hover:text-red-600 font-semibold" href="/admin-request-history" style="text-decoration:none;">
                        <i class="fas fa-history mr-2"></i> Request History
                    </a>
                </li>
                <li>
                    <a class="flex hover-handwriting items-center text-white hover:text-red-600 font-semibold" href="/admin-blood" style="text-decoration:none;">
                        <i class="fas fa-hand-holding-water mr-2"></i> Blood Stock
                    </a>
                </li>
            </ul>
        </div>
        <!-- Main Content -->
        <div class="main_content flex-1 p-6 bg-gray-50">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>
</html>