<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./static/css/output.css">
  <link rel="stylesheet" href="./static/css/manual.css">
    <link rel="icon" href="./static/image/favicon.ico" />
</head>

<body>
        <nav class="bg-black border-b border-gray-700 fixed w-full top-0 left-0 z-50 h-16">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" id="navbarCollapse">
                <div class="flex justify-between h-16">
                    <div class="flex items-center">
                        <a href="/" class="text-2xl hover:scale-105 hover:shadow-xl hover-handwriting font-bold text-white">&nbsp; Blood Bank Management</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <ul class="hidden md:flex items-center space-x-6">
                        <li class="nav-item">
                            <a class="text-2xl relative text-gray-300 hover:text-white hover-handwriting after:block after:absolute after:bottom-0 after:left-0
after:h-0.5 after:w-0 after:bg-white after:transition-all
hover:after:w-full" href="/">&nbsp;Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-2xl relative text-gray-300 hover:text-white hover-handwriting after:block after:absolute after:bottom-0 after:left-0
after:h-0.5 after:w-0 after:bg-white after:transition-all
hover:after:w-full" href="/patient/patientlogin">&nbsp;Patient</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-2xl relative text-gray-300 hover:text-white hover-handwriting after:block after:absolute after:bottom-0 after:left-0
after:h-0.5 after:w-0 after:bg-white after:transition-all
hover:after:w-full" href="/donor/donorlogin">&nbsp;Donor</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-2xl relative text-gray-300 hover:text-white hover-handwriting after:block after:absolute after:bottom-0 after:left-0
after:h-0.5 after:w-0 after:bg-white after:transition-all
hover:after:w-full" href="/adminlogin">&nbsp;Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</body>

</html>